nav {
    margin-top: 40px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: max-content;
    width: max-content;
   width: 100%;
    
}

nav-button {
    font-size: 17px;
    color: #8e979f;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 1vw;
    transition: 0.2s;
}

nav-button:hover {
    color: #5d6268;
}

a {
    height: fit-content;
    text-decoration: none;
}

.blue {
    color: #0978fd;
}

@keyframes slide {
    from {
        opacity: 0;
        transform: translate(-50px);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
  }
  

  

nav-buttons {
    align-items: center;
    display: flex;
    gap: 50px;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main {
    position: absolute;
    max-width: 1300px;
    width: calc(100% - 60px);
    transform: translate(-50%);
    left:50%;
    height: 100vh;
    display: flex;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 500,
  'GRAD' 200,
  'opsz' 24;
  color: #0978fd;
  margin-right: 10px;
}



text {
    margin-top: 20%;
    position: relative;
}

h1 {
    font-size: 60px;
    color: #2d2d2d;
    margin: 0;
    font-weight: 500;
}

h3 {
    font-size: 24px;
    color: #838282;
    font-weight: 400;
    width: 650px;
    margin-bottom: 40px;
}

h4 {
    font-size: 26px;
    color: #838282;
    font-weight: 400;
    width: 450px;
    margin: 10px;
    animation: slide 1s forwards;
    opacity: 0;
}

#a2 {
    animation: slide 1s 0.2s forwards;
}


#a3 {
    animation: slide 1s 0.4s forwards;
}


container {
    margin-left: auto;
    margin-right: 30px;
    height: fit-content;
    position: relative;
    margin-top: 20%;
}

 img {
    width: 400px;
    border-radius: 100%;
    height: 100%;
    border: 7px solid white;
    animation: slideImgIn 1s  forwards;
    position: relative;
}       

.no-left-padding {
    padding-left: 0;
    padding: 0;
}

.no-right-padding {
    padding-left: 0;
    padding: 0;
}



@keyframes slideImgIn {
    from {
        transform: translate(30px, 30px);
    }
    to {
        transform: translate(0, 0);
    }
  }
  
  @keyframes slideImgOut {
    from {
        transform: translate(30px, 30px);
    }
    to {
        transform: translate(60px, 80px);
    }
  }
  



circle {
    position: absolute;
    display: block;
    border-radius: 100%;
    width: 400px;
    height: 400px;
    transform: translate(60px, 80px);
    background-color: #4894f2; 
    animation: slideImgOut 1s forwards;
}